# Ignore Python cache and logs
__pycache__/
*.py[cod]
*.log
*.pyproj

# VSCode settings (if you're using it)
.vs/

build/


dist/
unittestplus.egg-info

# Virtual environments
env/
venv/

# Temp files
*.tmp

*.db

# Test file I use
#example_usage.py
NotesForMe.md
.mypy_cache
.ruff_cache


