# Ignore Python cache and logs
__pycache__/
*.py[cod]
*.log
*.pyproj

# VSCode settings (if you're using it)
.vs/



# Virtual environments
env/
venv/

# Temp files
*.tmp

*.db

# Requirements.txt 
requirements.txt
